{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>My blog</h1>
{% if tag %}
<h2>Post tagged with "{{ tag.name }}"</h2>
{% endif %}

{% if query %}
<h2>Post containing "{{ query }}"</h2>
{% endif %}
{% for post in page_obj %}

<h2>

    <a href="{{ post.get_absolute_url }}">
        {{ post }}
    </a>
</h2>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>

{{ post.body|markdown|truncatewords:30 }}
{% include '_inc/tag_list.html' with object=post %}
{% endfor %}

{% include '_inc/pagination.html' %}
{% endblock %}